*.o
*.a
*.s
*.cmd
*.fw.gen.S
*.fw
*.ko
*.bin
*.bin.gen.S

.config
.config.old
.missing-syscalls.d
.tmp_System.map
.tmp_kallsyms1.S
.tmp_kallsyms2.S
.tmp_versions/
.tmp_vmlinux1
.tmp_vmlinux2
.version

modules.builtin
modules.order
usr/.initramfs_data.cpio.d
usr/gen_init_cpio
usr/initramfs_data.cpio
lib/crc32table.h
lib/gen_crc32table
lib/lib.a
include/config/*
include/generated/*
include/linux/version.h
kernel/bounds.s
kernel/timeconst.h
kernel/bounds.s
kernel/timeconst.h

Module.symvers
System.map
arch/arm/boot/Image
arch/arm/boot/compressed/lib1funcs.S
arch/arm/boot/compressed/piggy.gzip
arch/arm/boot/compressed/vmlinux
arch/arm/boot/compressed/vmlinux.lds
arch/arm/boot/zImage

scripts/basic/fixdep
scripts/conmakehash
scripts/kallsyms
scripts/kconfig/conf
scripts/kconfig/lex.zconf.c
scripts/kconfig/mconf
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.tab.c
scripts/mod/elfconfig.h
scripts/mod/mk_elfconfig
scripts/mod/modpost
scripts/recordmcount

vmlinux*
zImage

drivers/net/wireless/bcmdhd/dhd.mod.c
drivers/net/wireless/btlock/btlock.mod.c
drivers/scsi/scsi_wait_scan.mod.c
drivers/tty/vt/consolemap_deftbl.c
drivers/tty/vt/defkeymap.c
